body {
  background-color: #272727;
  color: whitesmoke;

  .container {
    margin: 0;
  }

  form {
    margin-top: 3rem;
    color:  #272727;
  }
}

.movie-side-info {
  height: 40.0rem;
  background-color: #A4A4A4;
  overflow-y: scroll;
  color:  #272727;

  h1 {
    font-size: 1.8rem;
    margin: 0;
  }

  h3 {
    font-size: 1.3rem;
  }

  .movie-container {
    border: solid black 0.3rem;
    margin-top: 1rem;
  }
}

