<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omdb Angular Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="app.js"></script>
    <script src="service.js"></script>
    <script src="omdbController.js"></script>
</head>
<body>
    <div id="content" ng-app="Omdb" ng-controller="moviesCtrl">
        <form action="" ng-submit="findMovies($event)">
            <input type="text" ng-model="searchText"/>
            <button>Search</button>
           <!-- <pre>{{ajaxResonse | json}}</pre>-->
        </form>

        <div class="container col-md-3">
            <div ng-repeat="movie in movies" class="movie-container">
                <div ng-click="showMovieInfo(movie.Title)">
                    <h1>{{movie.Title}}</h1>
                    <h3>{{movie.Year}}</h3>
                </div>
            </div>
        </div>

        <div class="container col-md-9">
            <div>
                <h1>{{movie.Title}}</h1>
                <h3>{{movie.Year}}</h3>
                <h4>Rated:{{movie.Rated}}</h4>
                <h4>Duration:{{movie.Runtime}}</h4>
                <h5>{{movie.Plot}}</h5>
                <img src="{{movie.Poster}}" alt=""/>

            </div>
        </div>
    </div>



</body>
</html>