<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omdb Angular Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="app.js"></script>
    <script src="service.js"></script>
    <script src="omdbController.js"></script>
</head>
<body>


    <div ng-app="Omdb" ng-controller="moviesCtrl">
        <div class="nav">
            <h1 class="pull-right">OMDB SEARCH</h1>
            <form class="pull-left" action="" ng-submit="findMovies($event)">
                <input placeholder="search a movie" type="text" ng-model="searchText"/>
                <button>Search</button>
                <!-- <pre>{{ajaxResonse | json}}</pre>-->
            </form>
        </div>

        <div class="container content">
            <div class="movie-side-info col-md-3" ng-show="movies">
                <div class="searchText">Search Results</div>
                <div class="">
                    <div ng-repeat="movie in movies" class="movie-container">
                        <div ng-click="showMovieInfo(movie.Title)">
                            <h1>{{movie.Title}}</h1>
                            <h3>{{movie.Year}}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="movie-detail-container col-md-8" ng-if="movie">
                <div ng-if="movie" class="movieDetailBox">
                    <div class="movieInfoText">
                        <h1>{{movie.Title}}</h1>
                        <h3>{{movie.Year}}</h3>
                        <h4>Rated:{{movie.Rated}}</h4>
                        <h4>Duration:{{movie.Runtime}}</h4>
                        <h5>{{movie.Plot}}</h5>
                    </div>
                    <img src="{{movie.Poster}}" alt=""/>
                </div>
            </div>
        </div>

    </div>



</body>
</html>